n8n/demo-data/workflows/testHttps.json
{
  "createdAt": "2025-12-09T01:00:00.000Z",
  "updatedAt": "2025-12-09T01:00:00.000Z",
  "id": "testHttpsWorkflow",
  "name": "Test HTTPS Connection",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com",
        "options": {}
      },
      "id": "http-test",
      "name": "Test HTTPS to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first();\nconsole.log('✅ HTTPS Connection Works!');\nconsole.log('Status Code:', result.json);\nreturn [$input.first()];"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Test HTTPS to Google", "type": "main", "index": 0}]]
    },
    "Test HTTPS to Google": {
      "main": [[{"node": "Log Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {},
  "versionId": "test-https-v1",
  "triggerCount": 0,
  "tags": []
}
