n8n/demo-data/workflows/uploadLocalCourses.json
{
  "createdAt": "2025-12-08T22:00:00.000Z",
  "updatedAt": "2025-12-08T22:00:00.000Z",
  "id": "uploadLocalCoursesWorkflow",
  "name": "Upload Local Courses to Drive",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 3,
            "minutes": 0
          }
        ]
      },
      "id": "83ba35a7-adb5-46f8-990a-799e17590ab1",
      "name": "Daily Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "command": "ls -1 /data/shared/cursos || true",
        "options": {
          "shell": "/bin/bash"
        }
      },
      "id": "8d2e7413-7302-470b-a730-43f2911e5445",
      "name": "List Local Courses",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        410,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const stdout = (items[0].json.stdout || '').trim();\nif (!stdout) {\n  return [];\n}\nreturn stdout\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line !== '')\n  .map(course => ({ json: { course } }));"
      },
      "id": "58286ea5-0229-4f2a-bfba-9c1311f93eb3",
      "name": "Build Course Items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        630,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "returnAll": true,
        "filters": {
          "query": "name = '{{$json[\"course\"]}}.tar.gz' and '{{$env[\"GOOGLE_DRIVE_COURSES_FOLDER_ID\"]}}' in parents and trashed = false"
        }
      },
      "id": "f826b2c3-3394-4bcb-859a-79c021690ced",
      "name": "Google Drive - Find Existing",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        870,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ovw6MjRTGF7piTjp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "booleans": [
            {
              "value1": "={{$json[\"files\"] && $json[\"files\"].length > 0}}"
            }
          ]
        }
      },
      "id": "8c0d73d6-8fee-4f0f-9d3b-860f9095444d",
      "name": "IF Already Uploaded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "course",
              "value": "={{$item($itemIndex).$node[\"Build Course Items\"].json[\"course\"]}}"
            },
            {
              "name": "status",
              "value": "Skipped (already on Drive)"
            }
          ]
        },
        "options": {}
      },
      "id": "d5c10206-821f-4136-8007-27137b80a559",
      "name": "Set Skip Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1330,
        140
      ]
    },
    {
      "parameters": {
        "command": "COURSE={{$item($itemIndex).$node[\"Build Course Items\"].json[\"course\"]}}\nARCHIVE=\"/data/shared/tmp/${COURSE}.tar.gz\"\nSRC=\"/data/shared/cursos/${COURSE}\"\nmkdir -p /data/shared/tmp\nrm -f \"$ARCHIVE\"\nif [ ! -d \"$SRC\" ]; then\n  >&2 echo \"Curso não encontrado: $SRC\"\n  exit 1\nfi\ntar -czf \"$ARCHIVE\" -C \"/data/shared/cursos\" \"$COURSE\"\nprintf \"$ARCHIVE\"",
        "options": {
          "shell": "/bin/bash"
        }
      },
      "id": "1d470561-5b6b-4a4b-8df5-99d46b7ffb42",
      "name": "Create Course Archive",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"stdout\"].trim()}}",
        "options": {}
      },
      "id": "5eb6438c-13ab-4c56-8ca8-e3ab7136c732",
      "name": "Read Archive File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1570,
        460
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "binaryPropertyName": "data",
        "additionalFields": {
          "parentId": "={{$env[\"GOOGLE_DRIVE_COURSES_FOLDER_ID\"]}}",
          "fileName": "={{$item($itemIndex).$node[\"Build Course Items\"].json[\"course\"]}}.tar.gz"
        }
      },
      "id": "f3ea0256-4d03-4d99-8f0b-5c1bd457fa1c",
      "name": "Upload Archive to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1790,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ovw6MjRTGF7piTjp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO course_uploads (course_name, drive_file_id)\nVALUES ($1, $2)\nON CONFLICT (course_name)\nDO UPDATE SET drive_file_id = EXCLUDED.drive_file_id,\n              uploaded_at = NOW();",
        "additionalFields": {},
        "queryParams": "={{$item($itemIndex).$node[\"Build Course Items\"].json[\"course\"]}},={{$json[\"id\"]}}"
      },
      "id": "a08a69e8-14a1-4d60-b5f2-b8aa70b56534",
      "name": "Register Upload in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2010,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "DhjxfMqZxDAlFoK1",
          "name": "Local Postgres"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -f \"{{$node[\"Create Course Archive\"].json[\"stdout\"].trim()}}\"",
        "options": {
          "shell": "/bin/bash",
          "continueOnFail": true
        }
      },
      "id": "8b11d6cb-88cc-401d-8f08-e718cebb6525",
      "name": "Cleanup Archive",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "course",
              "value": "={{$item($itemIndex).$node[\"Build Course Items\"].json[\"course\"]}}"
            },
            {
              "name": "drive_file_id",
              "value": "={{$node[\"Upload Archive to Drive\"].json[\"id\"]}}"
            },
            {
              "name": "status",
              "value": "Uploaded"
            }
          ]
        },
        "options": {}
      },
      "id": "3aab9011-7284-4de2-8c2d-6fb252b04e0e",
      "name": "Set Success Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2460,
        460
      ]
    }
  ],
  "connections": {
    "Daily Cron": {
      "main": [
        [
          {
            "node": "List Local Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Local Courses": {
      "main": [
        [
          {
            "node": "Build Course Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Course Items": {
      "main": [
        [
          {
            "node": "Google Drive - Find Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Find Existing": {
      "main": [
        [
          {
            "node": "IF Already Uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Already Uploaded": {
      "main": [
        [
          {
            "node": "Set Skip Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Course Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Course Archive": {
      "main": [
        [
          {
            "node": "Read Archive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Archive File": {
      "main": [
        [
          {
            "node": "Upload Archive to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Archive to Drive": {
      "main": [
        [
          {
            "node": "Register Upload in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Upload in DB": {
      "main": [
        [
          {
            "node": "Cleanup Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Archive": {
      "main": [
        [
          {
            "node": "Set Success Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "b21f5cf6-56a5-47c8-8ea1-cb7e10b9be1a",
  "triggerCount": 0,
  "tags": []
}
